.ProductOverview {
  display: flex;
  flex-wrap: wrap;
}

.headers {
}

.leftContainer {
  float: left;
  height: 80%;
}

.rightContainer {
  height: 80%;
  float: right;
}

.bottomContainer {
}

.ImageView {
  float: left;
}

.StyleSelector {
  // flex-wrap: wrap;
  float: right;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.AddToCart {
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: auto;
  // width: auto;
}

.share {
}
