@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.ProductOverview {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.leftContainer {
  float: left;
  height: 80%;
}

.rightContainer {
  height: 80%;
  width: 50%;
  float: right;
}

.bottomContainer {
}

.ImageView {
  float: left;
}

.StyleSelector {
  // flex-wrap: wrap;
  float: right;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.prodcutDescription {
  // background-color: lightgrey;
  background-color: #e9e9e9;
  column-count: 2;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  // height: 300px;
}

.share {
  margin-right: 50px;
  padding-right: 50px;
}

.displayImageModal {
  cursor: cell;
}

.styles_closeButton__20ID4 {
  background-color: green;
}

.DefaultViewModal {
  // background-color: blue;
}

.styles_modal__gNwvD {
  background-color: rgb(240, 216, 111);
  border-radius: 20px;
}

//for modal close button
// .styles_closeIcon__1QwbI {
//   background-color: red;
//   border-radius: 1.5rem;
//   cursor: pointer;
// }

.styles_closeIcon__1QwbI {
  margin: 5px;
  padding: 5px;
  position: absolute;
  top: 2.4%;
  left: 3.4%;
  text-align: center;
  cursor: pointer;
  border-radius: 1.5rem;
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  background-color: #ff0051;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  line-height: auto;
  outline: none;
  overflow: hidden;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: auto;
}
.styles_closeIcon__1QwbI::before,
.styles_closeIcon__1QwbI::after {
  background-color: white;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}
.styles_closeIcon__1QwbI::before {
  top: 0;
  transform: rotate(45deg);
}
.styles_closeIcon__1QwbI::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.styles_closeIcon__1QwbI:hover {
  color: #8a2387;
}
.styles_closeIcon__1QwbI:hover::before,
.styles_closeIcon__1QwbI:hover::after {
  height: 50px;
  transform: rotate(0deg);
}
