$font-stack: Helvetica, sans-serif;
$primary-color: orange;

.mains {
  font-family: 'interstate', Verdana, sans-serif;
  // font: 100% $font-stack;
  color: $primary-color;
  margin-left: 5%;
  margin-right: 5%;
}
