{
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
