.searchfield {
  float: right;
  height: 20px;
  width: 100px;
}

.header {
  float: right;
  width: 200px;
  height: 120px;
}

.header img {
  height: 100%;
  width: auto;
  border-radius: 20px;
}

.headers {
  width: 100%;
  overflow: hidden;
  background-color: #e9e9e9;
  border-radius: 20px;
}

.searchfield {
  padding-top: 20px;
  padding-left: 20px;
  float: left;
  height: 20px;
  width: 100px;
}

.logo {
  float: right;
}
