$background-grey: #e9e9e9;
$primary-orange: #ffa500;
$primary-blue: #40c6ff;
$primary-teal: #14c6cc;
$dark-blue: #004fb3;
$solid-blue: #0070ff;
$secondary-orange: #ffaf19;

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #e9e9e9;
  width: 60vw;
  max-width: 100%;
  height: 60vh;
  max-height: 100%;
  padding: 2%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

input {
  font-size: large;
  margin: 1vh;
}

label {
  font-size: 1.5vw;
}

// button {
//   font-size: 1.5vw;
//   font-family: 'Josefin Sans', sans-serif;
// }

textarea:focus {
  outline-color: lightblue;
  outline-width: medium;
  outline-style: groove;
}

.modalHeading {
  margin-left: 24vw;
}

.formBox {
  height: 10vh;
  width: 30vw;
  font-size: 1.5vw;
}

.myForm {
  margin-left: 5vw;
  margin-top: 5vh;
}

.disclaimer {
  font-size: 1.25vw;
  color: #ffa500;
  opacity: 90%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.closeModalButton {
  margin: 0.5%;
  padding: 0.5%;
  position: absolute;
  top: 3.3vh;
  right: -2vw;
  text-align: center;
  width: 4vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 0em;
  background: none;
  border-color: #ffa500;
  box-sizing: border-box;
  color: transparent;
  background-color: #004fb3;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5%;
  line-height: auto;
  outline: none;
  overflow: hidden;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
}

.submitModalButton {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 0.5rem;
  outline: none;
  overflow: hidden;
  width: 4.5rem;
  height: 1.5rem;
}

.closeModalButton::before,
.closeModalButton::after {
  background-color: #ffa500;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.closeModalButton::before {
  top: 0;
  transform: rotate(45deg);
}

.closeModalButton::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.closeModalButton:hover {
  color: #8a2387;
}

.closeModalButton:hover::before,
.closeModalButton:hover::after {
  height: 50px;
  transform: rotate(0deg);
}
