.magnified {
  cursor: zoom-out;
  background-image: none;
}
.displayImageModal {
  cursor: pointer;
  background-image: none;
}

.displayImage {
  // cursor: none;
  background-image: none;
}

img {
  cursor: pointer;
}

.thumbnailContainer {
  padding-top: 120px;
}
