.ratingsComp {
  color: black;
  font-size: 20px;
}
.rar {
  display: inline-grid;
  grid-template-columns: 15% 20% 20% 20% 20%;
  grid-gap: 10px;
  padding: 10px;
}

.graph {
  grid-column-start: 1;
  grid-column-end: 2;
}

.list {
  grid-column-start: 2;
  grid-column-end: 6;
}

.breakdownSection {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 100%;
  padding: 2%;
  float: left;
}

.starBreak {
  display: inline;
}

.avgStars {
  display: inline;
}

#reviewAvg {
  font-size: 16px;
  margin-left: 100%;
}

.avgReview {
  font-size: 36px;
}

.breakdownSide {
  float: left;
  width: 15%;
  margin-top: 5%;
  max-width: 50%;
  width: 100%;
}

.breakdownMiddle {
  margin-top: 10%;
  float: left;
  width: 100%;
  max-width: 50%;
}

.breakdownRow:after {
  content: '';
  display: table;
  clear: both;
}

.breakBarContainer {
  width: 100%;
  background-color: gray;
  text-align: center;
  color: white;
}

@media (max-width: 400px) {
  .breakdownSide {
    width: 100%;
  }
  .breakdownMiddle {
    width: 100%;
  }
}

.reviewFilters {
  margin-bottom: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2px;
  padding: 0.25em;
  border: 0;
  border-bottom: 2px solid black;
  font-weight: bold;
  border-radius: 0;
  background-color: transparent;
  font-size: 14px;
}

.topLineTile {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

#tileStar {
  font-size: 14px;
}

.reviewerName {
  grid-column: 7;
  grid-row: 1;
  font-size: 16px;
}

.reviewDate {
  grid-column: 8;
  grid-row: 1;
  font-size: 16px;
}

.reviewSummary {
  font-weight: bold;
  word-break: break-all;
}

.productRecommend {
  display: inline-flex;
}

.recAnswer {
  margin-left: 5px;
}

.thumbnailTile {
  display: inline-flex;
}

.reviewTileImages {
  max-height: 80px;
  width: 80px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  margin: 5px;
  cursor: pointer;
  -webkit-background-clip: padding;
  border-radius: 6px;
}

.reviewImageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  width: 600px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  padding: 10px;
}

.expandedReviewImage {
  height: 100%;
  width: 100%;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.modal {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.bottomLine {
  display: inline-flex;
}

.helpTile {
  display: inline-flex;
  font-size: 16px;
}

.helpfulnessRating {
  margin-left: 8px;
  font-size: 16px;
}

.yesHelp {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin-left: 10px;
  margin-bottom: 4.5px;
  padding: 0;
}

.yesHelp:hover,
.yesHelp:focus {
  text-decoration: none;
}

.reportTile {
  margin-left: 25px;
}

.reviewReport {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin-bottom: 10px;
  padding: 0;
}

.reviewReport:hover,
.reviewReport:focus {
  text-decoration: none;
}

.tileLineBreak {
  border: 1px solid black;
  margin-top: 10px;
}

.moreReviews {
  border-radius: 0px;
  font-size: 14px;
  padding: 10px 24px;
  margin-right: 15px;
}

.addReview {
  border-radius: 0px;
  font-size: 14px;
  padding: 10px 24px;
}

.newReviewModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  width: 600px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.OverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.display-on {
  display: block;
}

.display-off {
  display: none;
}
