$background-grey: #e9e9e9;
$primary-orange: #ffa500;
$primary-blue: #40c6ff;
$primary-teal: #14c6cc;

.searchQuestions {
  height: 100%;
}

.questionList {
  display: block;
  height: 100%;
  //width: 100%;
  overflow: scroll;
  width: 100%;
}

.questionListQuestion {
  margin: 0 1% 1% 1%;
}

#searchBar {
  font-size: x-large;
  margin: 2% 0.5% 1% 1%;
  padding: 1%;
  border-color: $primary-teal;
  border-style: inset;
  border-width: medium;
}

input:focus {
  outline-color: rgb(44, 159, 197);
  outline-width: medium;
  outline-style: solid;
}
