// margin-top, margin-right, margin-bottom, and margin-left
.questionButton {
  margin: 20px 50px 20px 0;
  // margin: 2% 5% 2% 0;
  font-size: 16px;
  // font-size: 100%;
  height: 65px;
  // height: 200%;
  width: 250px;
  border-radius: 10px;
  border: solid;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: beige;
  cursor: pointer;
}

.questionList {
  border: solid;
  border-color: black;
  display: block;
  overflow: scroll;
  max-height: 400px;
}
// margin-top, margin-right, margin-bottom, and margin-left
.questionListQuestion {
  margin: 5px 5% 5px 10px;
}

#searchBar {
  font-size: large;
  margin: 10px 0 10px 0;
  padding: 5px;
  border: solid;
}

input:focus {
  outline-color: rgb(44, 159, 197);
  outline-width: medium;
  outline-style: solid;
}
