.answerList {
  margin: 0.5% 0 0 0;
}

.noAnswers {
  font-size: small;
  font-style: italic;
  margin: 1%;
  border: none;
  color: #454442;
  opacity: 90%;
}

#dogs {
  font-size: x-small;
  font-style: italic;
  margin: 1em 0 0 0;
  border: none;
  color: #454442;
  opacity: 90%;
}
