.answer {
  margin: 10px 0 0 0;
  font-size: 14px;
  border: none;
  color: #454442;
  opacity: 90%;
}

.user {
  margin: 5px 0 10px 0;
  font-size: 12px;
  border: none;
  color: gray;
  opacity: 90%;
}

.answerButton {
  margin: 10px 5px 10px 0;
  font-size: 12px;
  height: auto;
  width: auto;
  border-radius: 2px;
  border: solid;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  background: none;
  cursor: pointer;
}

.answerLinkButton {
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 5px 1px 5px 0;
  padding: 0;
}

.answerLinkButton:hover,
.answerLinkButton:focus {
  text-decoration: none;
}

.count {
  margin: 2px;
}
